<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Task Manager{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% load static %}
        <link rel='stylesheet' href="{% static 'css/background.css' %}">
        <link rel='icon' href="https://play-lh.googleusercontent.com/5CNo4tlDYDJ2N8qyRoLlTKEx7CvuCSdr-iiSaQob5EGRGrvy9QFnX0HufdPGRHWuq7-v">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Task Manager</a>
            {% if user.is_authenticated %}
                <nav class="my-2 my-md-0 mr-md-2">
                    <div class="container">
                    	<h5 class="text-white mb-0 mr-3">Hello, {{user}}!</h5>
                    	<a class="btn btn-outline-danger" href= "{% url 'logout' %}">Logout</a>
                    </div>
                </nav>
            {% else %}
                <nav class="my-2 my-md-0 mr-md-2">
                    <a class="btn btn-outline-primary" href= "{% url 'signin' %}">Sign In</a>
                    <a class="btn btn-outline-primary" href= "{% url 'signup' %}">Sign Up</a>
                </nav>
            {% endif %}
        </nav>
        
        {% block content %}
            
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function (){
                $('[data-toggle="tooltip"]').tooltip ();
            });
        </script>  
    </body>
</html>